.pageWrpapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../../assets/images/map.png");
  background-size: cover;
  background-position: center 20px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .pageWrpapper {
    padding-top: 100px;
  }
}

.sectionBlog {
  padding-top: 2rem;
  padding-bottom: 4rem;
  width: 100%;
}
.containerBlog {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
/* @media screen and (min-width: 480x) {
  .containerBlog {
    max-width: 480px;
  }
} */
@media screen and (min-width: 768px) {
  .containerBlog {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .containerBlog {
    max-width: 1200px;
  }
}
.chatContainer {
  /* max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px; */
  position: "relative";
  height: 400px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .chatContainer {
    height: 700px;
    width: 700px;
  }
}
/* .messageContainerAssistant {
  margin-bottom: 10px;
  text-align: left;
  color: #28a745;
}

.messageContainerUser {
  margin-bottom: 10px;
  text-align: right;
  color: #007bff;
}
.inputChatWrp {
  display: flex;
  margin-top: 20px;
} */
/* .inputChat {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
} */

/* .btnChat {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* ----------- */
.chatTitle {
  font-family: Oswald, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-align: center;
}
.chatTitle:last-of-type {
  margin-bottom: 3rem;
}

/* style={{ fontSize: "1.3em", lineHeight: "1.6em " }} */
