.pageWrpapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.sectionBlog {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.containerBlog {
  padding-left: 1rem;
  padding-right: 1rem;
}
.btnWrp {
  display: flex;
  gap: 3rem;
}
/* .exp {
  background-image: url("../../../assets/images/notebook_flat_style.jpg");
  background-size: 150% 100%;
  background-position: center;
  background-repeat: no-repeat;
} */
