.pageWrpapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/h2-bckg-05.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .pageWrpapper {
    padding-top: 120px;
  }
}
.sectionBlog {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.containerBlog {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .containerBlog {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .containerBlog {
    max-width: 1200px;
  }
}
.carouselWrpMobile {
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .carouselWrpMobile {
    display: none;
  }
}
.carouselWrp {
  display: none;
}
@media screen and (min-width: 1200px) {
  .carouselWrp {
    display: block;
    padding-top: 2rem;
    padding-bottom: 6rem;
    width: 100%;
  }
}

.topWrapper {
  width: 100%;
}
.sectionsInfoWrp {
  width: 100%;
}
.btnWrp {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.subTitle {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}
