.pageWrpapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/h2-bckg-05.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .pageWrpapper {
    padding-top: 120px;
  }
}
.sectionBlog {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.carouselWrp {
  padding-top: 2rem;
  padding-bottom: 6rem;
}
.containerBlog {
  padding-left: 1rem;
  padding-right: 1rem;
}
.topWrapper {
  width: 100%;
}
.sectionsInfoWrp {
  width: 100%;
}
.btnWrp {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.subTitle {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}
/* .exp {
  background-image: url("../../../assets/images/notebook_flat_style.jpg");
  background-size: 150% 100%;
  background-position: center;
  background-repeat: no-repeat;
} */
