.mainList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .mainList {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 4rem;
    column-gap: 3rem;
  }
}

.mainItem {
  position: relative;
}

.mainItemLink {
  /* float: right; */
  position: absolute;
  bottom: 20px;
  right: 1rem;
}
