.pageWrpapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../assets/images/h2-bckg-05.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 150px;
}
.sectionBlog {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.containerBlog {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}
.boldText {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1rem;
}
.subTitle {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.addBtn {
  margin: 0 auto;
}
.sectionLine {
  height: 1px;
  width: 800px;
  background-color: #90a4ae;
  /* box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.52); */
  margin: 2rem auto;
}
.noTripsText {
}
