@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Mukta:wght@400;500;600;700&family=Mulish:wght@200..1000&family=Oswald:wght@200..700&family=Roboto:wght@400;500;700;900&display=swap");

body {
  letter-spacing: 0.3px;
  margin: 0;

  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, sans-serif;
  color: rgb(41, 41, 41);
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* --- carousel ---- */
.slick-prev {
  display: none;
}

.slick-next {
  display: none;
}
.slick-arrow {
  display: none;
}
@media screen and (min-width: 768px) {
  .slick-arrow {
    color: rgba(61, 59, 59, 0.995);
  }
  .slick-next {
    right: -55px;
    width: 25px;
    height: 60px;
  }
  .slick-prev {
    left: -55px;
    width: 25px;
    height: 60px;
  }
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: black;
}

.slick-dots {
  bottom: -105px;
}

.slick-dots li {
  width: 60px;
  height: 60px;
  padding: 5px;

  border: 1px solid gray;
  border-radius: 4px;
  overflow: hidden;
}
.slick-dots li:not(:last-child) {
  margin-right: 20px;
}

/* MobileStepper  */
.MuiMobileStepper-root .MuiMobileStepper-dotActive {
  background-color: white;
}
.MuiButton-root .MuiButton-colorPrimary {
  color: white !important;
}
.MuiTypography-root.MuiListItemText-primary {
  font-size: 1.2rem;
  font-weight: 600;
}
/* --- chat GPT ------------- */

.cs-main-container {
  border-radius: 8px;
  background-color: transparent;
}
.cs-chat-container {
  background-color: transparent;
}
.cs-message-list {
  background-color: rgba(255, 255, 255, 0.682);
  padding-top: 1rem;
}
.cs-message-list .cs-message {
  margin-bottom: 2rem;
}

.cs-message--outgoing .cs-message__content {
  /* background-color: rgba(205, 218, 219, 0.36); */
  background-color: #284ca7;
  color: white;
}

.cs-message--incoming .cs-message__content {
  background-color: #28a745;
  color: white;
}
.cs-message-input__content-editor-wrapper {
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
}
.cs-message-input__content-editor {
  background-color: white;
}
/* ---- modal --- */
.MuiBox-root.css-14m4a6i {
  border: 1px solid transparent;
  padding-bottom: 64px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .MuiBox-root.css-14m4a6i {
    width: 500px;
  }
}
.MuiPaper-root.MuiDrawer-paper {
  background-image: url("./assets/images/palm.png");
  background-size: 150px;
  background-position: center bottom 10px;
  background-repeat: no-repeat;
}
