.pageWrpapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../assets/images/freepik-export-20240509135416RBcc.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .pageWrpapper {
    padding-top: 100px;
  }
}
.sectionBlog {
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* width: 100%; */
}
.containerBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(255, 253, 253, 0.915);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .containerBlog {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .containerBlog {
    max-width: 1200px;
  }
}
.btnWrp {
  display: flex;
  justify-content: space-between;
}
.formText {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
}
