.pageWrpapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionHero {
  width: 100%;
  padding: 118px 0;
  max-width: 1800px;

  background-image: url("../../assets/images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .sectionHero {
    padding: 260px 0 220px;
  }
}
.containerHero {
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.sectionsWrapper {
  background-image: url("../../assets/images/h2-bckg-05.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.sectionBlog {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.containerBlog {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and(min-width: 480x) {
  .containerBlog {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .containerBlog {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .containerBlog {
    max-width: 1200px;
  }
}

.subTitle {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.subText {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.3rem;
}
.addBtn {
  margin: 0 auto;
}

.sectionLine {
  height: 1px;
  width: 220px;
  background-color: #90a4ae;

  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .sectionLine {
    width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .sectionLine {
    width: 800px;
  }
}
.selectWrp {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 1200px) {
  .selectWrp {
    display: flex;
    gap: 2rem;
    flex-direction: row;
  }
}
